@mixin border-radius($r){
	border-radius: $r;
	-moz-border-radius:$r ;
	-webkit-border-radius: $r;
}
@mixin transition($t){
	-webkit-transition: all $t ease;
	-moz-transition: all $t ease;
	-ms-transition: all $t ease;
	-o-transition: all $t ease;
	transition: all $t ease;
}

@mixin transform($t){
	-webkit-transform:scale($t); /* Safari and Chrome */
    -moz-transform:scale($t); /* Firefox */
   	-ms-transform:scale($t); /* IE 9 */
    -o-transform:scale($t); /* Opera */
    transform:scale($t);
}

@mixin trans(){
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
