$w:#ffffff; //white
$b:#000000; //black
$r:#ff0000; //red
$y: #eedc00; //yellow
$br: #b49759; //brown
$pur: #833177; //purple
$lg:#cccccc; 

$dg:#333333; //darkgrey
$mgrey:#888888; //medium grey
$lgrey:#cccccc; //light grey
$cream:#fbfbf0; //cream
$darkwhite:#e5e6ec; //dark white, lighter than light grey
$lightblack: #1e1e1e; //light black darker than dark grey
$bb: #14ccc3 ; //bright blue


//Brand Colors
$blue: #1d536f;
$blue-light: #1589b0;
$blue-bg: #c3effc;
$violet: #3c80bf;
$teal: #3ab2a6;
$cyan: #0dbdee;
$gray: #4c768c;
$gray-light: #d3d3d3;
$white: #ffffff;